@model IEnumerable<book_store.Models.report>

@{
    ViewData["Title"] = "customerreport";
}

<h1>Customer_Report</h1>
<br></br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>

                    <a asp-action="customerOrders" asp-route-id="@item.Id" class="nn" >Details</a>
                    <style>
                        *.nn {
                            color: #0d6efd;
                            text-decoration: none;
                            background-color: cornflowerblue;
                            color: aliceblue;
                            padding: 8px;
                            border-radius: 6px;
                        }

                            *.nn:hover {
                                background-color: red;
                                color: aliceblue;
                            }
                    </style>

            </td>
        </tr>
}
    </tbody>
</table>
