@model IEnumerable<book_store.Models.orders>

@{
    ViewData["Title"] = "Index";
}

<h1  style="">Add book </h1>

<p>
    <a asp-action="Create" style="     color: #0d6efd;
    text-decoration: none;
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 8px;
    border-radius: 6px;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderdate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="nn">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="nn">Details</a> |
                   
                   <a asp-action="Delete" asp-route-id="@item.Id" class="nn">Delete</a>
                   <style>
                    *.nn {
                    color: #0d6efd;
                    text-decoration: none;
                    background-color: cornflowerblue;
                    color: aliceblue;
                    padding: 8px;
                    border-radius: 6px;
                    }

                    *.nn:hover{
                    background-color: red;
                    color: aliceblue;

                    }
                    </style>
            </td>
        </tr>
}
    </tbody>
</table>
